In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import NearMiss
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, classification_report
import tensorflow as tf

In [2]:
df_reg = pd.read_csv('../data/Lab3_Mrdak_MO-221.csv')
df_reg.head()

,Unnamed: 0,date,appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,...,RH_8,T9,RH_9,T_out,press_mm_hg,RH_out,windspeed,visibility,tdewpoint,weekday
0,0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,...,48.900000,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3,Monday
1,1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,...,48.863333,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2,Monday
2,2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,...,48.730000,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1,Monday
3,3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,...,48.590000,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0,Monday
4,4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,...,48.590000,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9,Monday

In [3]:
df_class = pd.read_csv('../data/Lab4_Mrdak_MO-221.csv')
df_class.head()

,Unnamed: 0,name,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,absolute_magnitude,hazardous
0,0,(2011 GZ2),0.016016,0.035813,56014.078517,1.024333e+06,26.1,0
1,1,(2020 HT6),0.030518,0.068240,7864.348060,3.268186e+07,24.7,0
2,2,(2016 ED156),0.055533,0.124177,55257.544508,6.538636e+07,23.4,0
3,3,(2013 FD8),0.019256,0.043057,41531.404722,1.260796e+07,25.7,0
4,4,(2016 CW31),0.139494,0.311918,67639.394481,7.130590e+07,21.4,0

## Удаление ненужных столбцов

In [4]:
df_reg = df_reg.drop(['Unnamed: 0', 'date', 'weekday'], axis=1)
df_reg.head()

,appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T8,RH_8,T9,RH_9,T_out,press_mm_hg,RH_out,windspeed,visibility,tdewpoint
0,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,18.2,48.900000,17.033333,45.53,6.60,733.5,92.0,7.000000,63.000000,5.3
1,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,18.2,48.863333,17.066667,45.56,6.48,733.6,92.0,6.666667,59.166667,5.2
2,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,18.2,48.730000,17.000000,45.50,6.37,733.7,92.0,6.333333,55.333333,5.1
3,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,18.1,48.590000,17.000000,45.40,6.25,733.8,92.0,6.000000,51.500000,5.0
4,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,18.1,48.590000,17.000000,45.40,6.13,733.9,92.0,5.666667,47.666667,4.9

In [5]:
df_class = df_class.drop(['Unnamed: 0', 'name'], axis=1)
df_class.head()

,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,absolute_magnitude,hazardous
0,0.016016,0.035813,56014.078517,1.024333e+06,26.1,0
1,0.030518,0.068240,7864.348060,3.268186e+07,24.7,0
2,0.055533,0.124177,55257.544508,6.538636e+07,23.4,0
3,0.019256,0.043057,41531.404722,1.260796e+07,25.7,0
4,0.139494,0.311918,67639.394481,7.130590e+07,21.4,0

## Выделение целевого признака для обоих датасетов

In [6]:
y_reg = df_reg["appliances"]
X_reg = df_reg.drop(["appliances"], axis=1)

In [7]:
X_train_reg, X_test_reg, y_train_reg, y_test_reg = train_test_split(X_reg, y_reg, test_size=0.2, stratify = y_reg)

In [8]:
y_class = df_class["hazardous"]
X_class = df_class.drop(["hazardous"], axis=1)

In [9]:
X_train_class, X_test_class, y_train_class, y_test_class = train_test_split(X_class, y_class, test_size=0.2, stratify = y_class)

## Балансировка для классификации

In [10]:
nm = NearMiss()
X_train_class, y_train_class = nm.fit_resample(X_train_class, y_train_class.ravel())

## Масштабирование

In [11]:
sc_reg = StandardScaler()
X_train_reg = sc_reg.fit_transform(X_train_reg)
X_test_reg = sc_reg.transform(X_test_reg)

In [12]:
sc_class = StandardScaler()
X_train_class = sc_class.fit_transform(X_train_class)
X_test_class = sc_class.transform(X_test_class)

## Создание вспомогательных функций

In [13]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score
from math import sqrt
def metrics(name, y_test, y_pred):
    print(name)
    print(f'MAE: {mean_absolute_error(y_test, y_pred)}')
    print(f'MSE: {mean_squared_error(y_test, y_pred)}')
    print(f'RMSE: {sqrt(mean_squared_error(y_test, y_pred))}')
    print(f'MAPE: {mean_absolute_percentage_error(y_test, y_pred)}')
    print(f'R^2: {r2_score(y_test, y_pred)}')

In [14]:
from sklearn.metrics import roc_auc_score
def auc_roc(X_test, y_test, model):
    y_scores = model.predict_proba(X_test)   
    print(roc_auc_score(y_test, y_scores[:,1]))

## Построение моделей

### Регрессия

In [15]:
model_regression = tf.keras.Sequential(
    [
        tf.keras.layers.Dense(64, activation="relu", input_shape=(25,)),
        tf.keras.layers.Dense(32, activation="linear"),
        tf.keras.layers.Dropout(0.1),
        tf.keras.layers.Dense(32, activation="relu"),
        tf.keras.layers.Dropout(0.1),
        tf.keras.layers.Dense(1, activation="linear"),
    ]
)

In [16]:
model_regression.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                1664

 dense_1 (Dense)             (None, 32)                2080

 dropout (Dropout)           (None, 32)                0

 dense_2 (Dense)             (None, 32)                1056

 dropout_1 (Dropout)         (None, 32)                0

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 4833 (18.88 KB)
Trainable params: 4833 (18.88 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
model_regression.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.005), loss="mse")

In [32]:
model_regression.fit(X_train_reg, y_train_reg, epochs=150, verbose = None)

In [33]:
metrics("Регрессия", y_test_reg, model_regression.predict(X_test_reg))

110/110 [==============================] - 0s 798us/step
Регрессия
MAE: 12.70962040424347
MSE: 335.5880821898697
RMSE: 18.319063354600576
MAPE: 0.20501189922988255
R^2: 0.5861065211976196

### Классификация

In [34]:
model_classification = tf.keras.Sequential(
    [
        tf.keras.layers.Dense(64, activation="relu", input_shape=(5,)),
        tf.keras.layers.Dense(128, activation="relu"),
        tf.keras.layers.Dropout(0.05),
        tf.keras.layers.Dense(64, activation="relu"),
        tf.keras.layers.Dense(32, activation="relu"),
        tf.keras.layers.Dense(16, activation="relu"),
        tf.keras.layers.Dense(2, activation="softmax"),
    ]
)

In [35]:
model_classification.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.005), loss="sparse_categorical_crossentropy")

In [36]:
model_classification.fit(X_train_class, y_train_class, epochs=50)

Epoch 1/50
322/322 [==============================] - 1s 1ms/step - loss: 0.2787
Epoch 2/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2661
Epoch 3/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2637
Epoch 4/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2613
Epoch 5/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2609
Epoch 6/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2592
Epoch 7/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2585
Epoch 8/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2564
Epoch 9/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2567
Epoch 10/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2546
Epoch 11/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2587
Epoch 12/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2550
Epoch 13/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2576
Epoch 14/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2563
Epoch 15/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2542
Epoch 16/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2537
Epoch 17/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2538
Epoch 18/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2523
Epoch 19/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2527
Epoch 20/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2528
Epoch 21/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2548
Epoch 22/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2507
Epoch 23/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2541
Epoch 24/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2514
Epoch 25/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2523
Epoch 26/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2529
Epoch 27/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2525
Epoch 28/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2514
Epoch 29/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2518
Epoch 30/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2531
Epoch 31/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2499
Epoch 32/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2496
Epoch 33/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2509
Epoch 34/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2503
Epoch 35/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2497
Epoch 36/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2490
Epoch 37/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2496
Epoch 38/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2482
Epoch 39/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2506
Epoch 40/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2496
Epoch 41/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2479
Epoch 42/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2483
Epoch 43/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2480
Epoch 44/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2470
Epoch 45/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2482
Epoch 46/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2470
Epoch 47/50
322/322 [==============================] - 1s 2ms/step - loss: 0.2484
Epoch 48/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2464
Epoch 49/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2474
Epoch 50/50
322/322 [==============================] - 0s 1ms/step - loss: 0.2470

In [37]:
y_pred = [np.argmax(pred) for pred in model_classification.predict(X_test_class)]

510/510 [==============================] - 0s 807us/step

In [38]:
print(classification_report(y_test_class, y_pred))
print(confusion_matrix(y_test_class, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.81      0.90     15026
           1       0.31      0.98      0.47      1288

    accuracy                           0.83     16314
   macro avg       0.65      0.90      0.69     16314
weighted avg       0.94      0.83      0.86     16314

[[12236  2790]
 [   24  1264]]

# Реализация MLP

In [ ]:
class Neuron:
    def __init__(self):
        
class Layer:
    def __init__(self, count_neuron, f_active):
        self.neurons = []
        for i in range (count_neuron):
            neuron = Neuron()
            nurons.append(neuron)
        if (f_active == 'sigmoid'):
            self.f_active = self.sigmoid
        elif(f_active == 'tanh'):
            self.f_active = self.tanh()
        else:
            self.f_active = self.relu()

class MLP:
    def __init__(self, )